.calculator{
    margin: auto;
    margin-top: 50px;
    border: 3px outset;
    background-color: #F3EEE7;
    width: 280px;
    height: 470px;
    border-top-left-radius: 80% 20px;
    border-top-right-radius: 80% 20px;
    border-bottom-left-radius: 80% 20px;
    border-bottom-right-radius: 80% 20px;
}

.preview{
  background-color: #AAA;
  box-shadow: inset 0px -2px 10px #AAA;
  font-size: 10px;
  text-align: right;
  border: 3px inset;
  width: 240px;
  height: 50px;
  padding-right: 5px;
  margin: 20px 20px 10px 20px;
}

.grids{
  width: 250px;
  height: 300px;
  margin: 10px 15px;
}

.grids button {
  width: 55px;
  height: 50px;
  border-top-left-radius: 80% 10px;
  border-top-right-radius: 80% 10px;
  border-bottom-left-radius: 100% 10px;
  border-bottom-right-radius: 100% 10px;
}

.screen{
  font-size: 22px;
  font-family: 'Anonymous Pro', ;
  line-height: 40px;
  text-align: right;
  margin: 10px 20px;
  width: 240px;
  height: 40px;
  background-color: #C7C7B0;
  border: 1px solid #b2b292;
  border-radius: 8px;
  box-shadow: inset 0px -2px 10px #b2b292;
}

.screen .input {
  padding-right: 5px;
}

.equalsTo {
    border-top: 2px solid;    
}